.card, .card-header{
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
	/*margin-bottom: 10px !important;*/
}
.ques{
	background: #047ffc !important;
}
.btn-link{
	width: 100%;
	height: auto !important;
	color: white !important;
	font-weight: 500 !important;
	text-decoration: none !important;
	text-align: left !important;
}
.card-body{
	/*color: red;*/
}
.btn-link:hover{
	/*background: white;*/
}
.btn-link:after{
	content: '\2212';
	width: 25px;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	right: 15px;
	bottom: 10px;
	top: 4px;
	position: absolute;
	/*background: black;*/
}
.btn-link.collapsed:after{
	content: '\002B';
}
/*down arrow*/
.btn-link:before{
	content: '';
	width: 18px; height: 18px;
	position: absolute;
	background: #047ffc;
	/*background: black;*/
	z-index: 1;
	transform: rotate(45deg);
	left: 22px;
	top: 30px;
}
.form-label{
	font-size: 17px;
	color: black;
	/*font-family: sans-serif;*/
}
/* .form-control:hover {
	color: #495057;
	background-color: #eee;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */
/* .sent-butnn{
	border-radius: 20px !important;
	font-size: 20px !important;
	width: 100% !important;
 */	/*margin: 0 auto !important;*/

/* }
.sent-butnn:hover{
	background: white;

	color: #047ffc !important;
	border: 1px #047ffc solid !important;
	font-weight: 500 !important;
}
 */
 .en2:after{
	content: '' !important;
	width: 25px;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	right: 15px;
	bottom: 10px;
	top: 4px;
	position: absolute;
	/*background: black;*/
}
.en2.collapsed:after{
	content: '' !important;
}
#wb2, #wb{
	/*margin-top: 20px !important;*/
	/*margin-bottom: 20px !important;*/
	width: 50% !important;
	margin: 30px auto !important;
}
.form-border{
	border: 1px #047ffc solid; 
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px #047ffc;
}
.form-border2{
	border: 1px #047ffc solid; 
	padding: 20px;
	border-radius: 20px;
	/*box-shadow: 2px 2px #047ffc;*/
}
.btn-other-school{
	background: white !important;
	color: #222 !important;
	border: 1px #047ffc solid !important;
	font-weight: 500 !important;

}
.img-box{
	overflow: hidden;
}
.img-box img{
	width: auto;
	height: auto;
	/*background-size: cover;*/
	/*object-fit: contain;*/
}
.matter{
	background: rgba(0,0,0,0.6);
	/*background: #047ffc;*/
	position: absolute;
	top: -100%;
	left: 10;
	width: 100%;
	/*margin-left: 14px;*/
	/*margin-right: 14px;*/
	height: 100%;
	/*color: white;*/
/* 	padding: 20px;
 */	box-sizing: border-box;
	transition: all 0.5s;
}
.img-box:hover .matter{
	top: -100%;
	/* TODO Revisit this */
}
.matter p{
	border-top: 1px white solid;
	border-bottom: 1px solid white;
	color: white;
	font-size:1vw;
}
.matter h3{
	color: white;
	font-size:2vw;
}
.contact-border{
	padding: 20px;
	border: 1px transparent solid; 
}
.contact-border:hover{
	border: 1px #047ffc solid; 
	/*padding: 20px;*/
	border-radius: 20px;
 	/* box-shadow: 2px 1px #047ffc; */
}
